//Color
$primary-dark: #1d2123;
$dark-2:#4F4F4F;
$gray-7:#828282;
$white-2:#F6F6F8;
$white: #fff;
$primary-pink: #ed008c;
$primary-gray:#E5E5E5;
$gray-1:#333333;
$gray-2:#4F4F4F;
$gray-3:#828282;
$gray-4:#BDBDBD;
$gray-6:#F2F2F2;
$gray-5:#E0E0E0;
$orange:#F2994A;
$blue-2:#2D9CDB;
$green:#6FCF97;
$red:#EB5757;


// Font Style
$font-Euclid-Circular-A: Euclid Circular A, sans-serif;
$font-SF-Pro-Text: SF-Pro-Text, sans-serif;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
